extend ./layout/default.pug

block content
	.container
		section
			h1 Heading 1
			h2 Heading 2
			h3 Heading 3
			h4 Heading 4
			h5 Heading 5
			h6 Heading 6
			p Paragraph text orem ipsum dolor, sit amet consectetur adipisicing elit. Sit sunt sequi eveniet ut quae veritatis ipsum aliquid, quia unde adipisci illum reiciendis nostrum. A, eos! Deleniti repudiandae voluptatibus et tempore?
			p.text_small — Small text

		section
			div(data-module="Incrementer")
				h2 Demo module
				div(data-target) 0
				button(data-trigger) Add 1
